<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

<listeners> 
<listener class-name="com.ebanking.utilities.Reporting"></listener>


</listeners>

	<test name="testName">
		<parameter name="browser" value="chrome" />

		<classes>

		 <!--	<class name= "com.ebanking.testCases.TC_LoginTest_001" />  -->
		<!--	<class name= "com.demo.testCases.TC_LoginTestDDT_002" />  -->
		
		<class name= "com.ebanking.testCases.TC_AddCutomerTest_003" /> 


		</classes>
	</test>
</suite>